{% extends "base.html" %}
{% load humanize %}
{% block title %}
    가계부
{% endblock %}
{% block style %}
    <style>
    td:nth-child(4){
        text-align: right;
    }
    </style>
{% endblock %}
{% block content %}
    <h1>가계부</h1>
    <div class="mb1">
        <a href="{% url 'cashbook_form' %}" class="btn">등록</a>
    </div>
    <table>
        {% for article in cashbook_list %}
            <tr>
                <td><a href="{% url "cashbook_detail" article.id %}">{{ article.id }}</a></td>
                <td>{{ article.event_dt }}</td>
                <td>{{ article.money_usage }}</td>
                <td>{{ article.money_amount|intcomma }}</td>
                <td>{{ article.money_usage_group }}</td>
                <td>{{ article.counting_type }}</td>
                <td>
                    <a href="{% url "cashbook_update" article.id %}"><i class="material-icons">edit</i></a>
                    <a href="{% url "cashbook_delete" article.id %}"><i class="material-icons">delete</i></a>
                </td>
            </tr>
        {% endfor %}
    </table>
    {% if is_paginated %}
        <ul class="pagination">
            {% if page_obj.has_previous %}
                <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
            {% else %}
                <li class="disabled"><span>&laquo;</span></li>
            {% endif %}
            {% for i in paginator.page_range %}
                {% if page_obj.number == i %}
                    <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                {% else %}
                    <li><a href="?page={{ i }}">{{ i }}</a></li>
                {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
                <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
            {% else %}
                <li class="disabled"><span>&raquo;</span></li>
            {% endif %}
        </ul>
    {% endif %}
{% endblock %}